html {
    scroll-behavior: smooth;
}

.darkmode-toggle{
    z-index: 10000;
}

.header{
    display: flex;
    justify-content: flex-start;
    position: relative;
    width: 100%;
    height: 50px;
}

.header-logo{
    font-size: 35px;
    user-select: none;
    cursor: pointer;
    width: 50px;
    margin: auto auto auto 10%;
    outline: none;
}

.logo-i{
    color: #2c4755;
    font-family: regular;
    font-weight: 900;
}

.logo-o{
    color: #10cab7;
    font-family: regular;
    font-weight: 900;
}

.welcome-section{
    width: 100%;
    height: 40vh;
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    isolation: isolate;
}

.welcome-heading {
    margin: 20px auto;
    font-size: 30px;
    font-family: extrabold;
    color: #10cab7;
    padding: 20px auto;
}

.welcome-text{
    margin: 0px auto;
    font-family: regular;
    font-size: 14px;
    width: 230px;
    color: #2c4755;
    line-height: 1.5;
    text-align: center;
}

.scroll__button{
    background-color: #10cab7;
    padding: 10px 20px;
    border-radius: 15px;
    border: none;
    font-family: regular;
    color: #f6f6f6;
    font-size: 15px;
}

.fa-align-right{
    z-index: 300;
    position: absolute;
    color: #5f8294;
    top: 15px;
    right: 10%;
}

.change .fa-align-right {
    color: white;
}

.bg-cover{
    background-color: #2c4755;
    /* visibility: hidden; */
    width: 15px;
    height: 100vh;
    /* border-radius: 50%; */
    position: fixed;
    top: -15px;
    right: -15px;
    z-index: 100;
    transition: transform 1s;
}

.change .bg-cover {
    /* visibility: visible; */
    transform: scale(300);
}

.nav-list{
    position: fixed;
    z-index: 200;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    visibility: hidden;
}

.change .nav-list {
    visibility: visible;
    transition: background 1s;
}

.nav-item{
    margin: 1.5vh 0;
}

.nav-item a {
    font-family: regular;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

.nav-item a:hover{
    color: #10cab7;
    transition: ease-in 0.2s;
}

.process{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    isolation: isolate;
    padding-top:50px;
    padding-bottom: 50px;
}

.process__child{
    width: 20%;
    text-align: center;
}

.process__child i{
    color: #10cab7;
}

.process__child i:hover {
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    color: #b4b3b3;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.process__child h3{
    font-size: 24px;
    font-family: extrabold;
    margin: 20px auto;
    color: #2c4755;
}

.process__child p{
    color: #2c4755;
    font-size: 15px;
    font-family: regular;
    line-height: 1.3;
}

/* services */

.services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
    isolation: isolate;
}

.services__elems{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.section__title{
    font-size: 120px;
    font-family: extrabold;
    color: #ebeced;
    user-select: none;
}

.section__motivation{
    font-family: regular;
    color: #000000;
    font-size: 17px;
    position: absolute;
    top: 85px;
    font-family: extrabold;
}

.services__list{
    width: 80%;
    padding-top: 60px;
    display: flex;
}

.services__list_child{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 80%;
}

.services__itemlist{
    width: 40%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

.itemlist__icon i {
    color: #10cab7;
}

.itemlist__title{
    color: #000;
    font-family: extrabold;
    font-size: 16px;
    padding-bottom: 20px;
}

.itemlist__desc{
    color: #000;
    font-family: regular;
    font-size: 13px;
    line-height: 1.3;
}

.list-child{
    width: 75%;
}

.services__figures{
    display: block;
    width: 15%;
}

.services__figures_child {
    position: relative;
}

.dark_square{
    width: 70px;
    height: 250px;
    background-color: #2c4755;
    position: absolute;
    right: 0;
    z-index: 10;
}

.light_square{
    width: 120px;
    height: 200px;
    background-color: #f6f6f6;
    position: absolute;
    z-index: 13;
    top: 25px;
    right: 20px;
    box-shadow: 0 3px 7px 0.1px #A3A3A3;
}

/* portfolio */

.portfolio{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #fafafa;
    isolation: isolate;
}

.portfolio__elems{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding-bottom: 40px;
}

.shortlist__potfolio{
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 50px;
}

.portfolio__items{
    display: flex;
    flex-direction: column;
    width: 250px;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #fff;
}

.portfolio__items:hover{
    opacity: 0.8;
    transition: 0.5s;
    border: 0.5px solid #5f8294;
}

.project__image{
    width: 100%;
    max-height: 210px;
}

.project__title{
    font-family: extrabold;
    font-size: 18px;
    line-height: 1.8;
    padding: 0 10px;
    color: #000;
}

.project__text{
    font-family: regular;
    font-size: 15px;
    line-height: 1.4;
    padding: 0 10px;
    color: #000;
}

/* about section */

.about{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    isolation: isolate;
}

.about-up{
    position: relative;
    display: flex;
    justify-content: center;
}

.about-down{
    width: 80%;
    margin-top: 50px;
    display: flex;
    align-items: center;
}

.about__article{
    width: 50%;
}

.about__title{
    font-size: 20px;
    color: #000;
    font-family: extrabold;
    line-height: 1.6;
}

.hr {
    width: 240px; 
    height: 1px; 
    margin: 30px auto 20px 0px; 
    background-color: #10cab7;
}

.about__text{
    font-family: regular;
    color: #000;
    font-size: 15px;
    line-height: 1.6;
}

.about__image{
    width: 50%;
    height: 50%;
}

/* contact section*/


.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f6;
    isolation: isolate;
}

.contact-up{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
}

.contact-down{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.feel_free{
    font-family: extrabold;
    color: #2c4755;
    font-size: 36px;
    line-height: 1.5;
}

.email{
    font-family: extrabold;
    color: #10cab7;
    font-size: 36px;
    line-height: 1.5;
}

.social_icons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 25px;
}

.find_us{
    color: #2c4755;
    font-size: 14px;
    font-family: regular;
    margin-right: 10px;
}

.social__icons__child * {
    margin-left: 10px;
    margin-right: 10px;
}

/* footer */

.footer{
    background-color: #2c4755;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    isolation: isolate;
    position: relative;
}

.footer__text{
    color: #10cab7;
    margin-left: auto;
    margin-right: auto;
    font-family: extrabold;
    font-size: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.up-scroll{
    background-color:#10cab7;
    border: 1px solid #10cab7;
	border-radius:28px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:10px 15px;
	text-decoration:none;
}

footer a{
    text-decoration: none;
}

/* darkmode settings */

.darkmode--activated .header{
    background-color: #2c4755;
}

.darkmode--activated .logo-i, .logo-o {
    color: #10cab7;
}

.darkmode--activated .fa-align-right {
    color: #10cab7;
}

.darkmode--activated .welcome-section{
    background-color: #3b4a52;
}

.darkmode--activated .welcome-text {
    color: #27abbd;
}

.darkmode--activated .process {
    background-color: #2c4755;
    padding-top:50px;
    padding-bottom: 50px;
    margin-top: 0;
}

.darkmode--activated 
.process__child h3{
    color: #fff;
}

.darkmode--activated 
.process__child p{
    color: #fff;
}

.darkmode--activated
.services {
    background-color: #2c4755;
}

.darkmode--activated
.section__motivation{
    color: #10cab7;
}

.darkmode--activated
.section__title{
    color: #3b4a52;
}

.darkmode--activated
.list-child * {
    color: #f6f6f6;
}

.darkmode--activated
.dark_square{
    background-color: #27abbd;
}

.darkmode--activated
.portfolio{
    background-color: #1c3e50;
}

.darkmode--activated 
.portfolio__items {
    background-color: #3b4a52;
}

.darkmode--activated
.project__title {
    color: #f6f6f6;
}

.darkmode--activated
.project__text {
    color: #f6f6f6;
}

.darkmode--activated
.about {
    background-color: #2c4755;
}

.darkmode--activated .about__title {
    color: #fff;
}

.darkmode--activated .about__text {
    color: #10cab7;
}

.darkmode--activated .contact {
    background-color: #1c3e50;
}

.darkmode--activated .feel_free{
    color: #fff;
}

.darkmode--activated .find_us{
    color: #fff;
}

.darkmode--activated .social__icons__child * {
    color: #fff;
}

.darkmode--activated .footer {
    background-color: #2c4755;
}

@media only screen and (max-width: 992px) {

    .services__list_child {
        width: 100%;
    }

    .services__figures{
        display: none;
    }

    .shortlist__potfolio{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .portfolio__items{
        margin-bottom: 30px;
    }

    .about__article{
        width: 75%;
    }

    .about-down{
        flex-direction: column;
        padding-bottom: 50px;
    }
}

@media only screen and (max-width: 768px) {
    .process {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        padding-bottom: 50px;
    }

    .process__child {
        margin-top: 50px;
        width: 75%;
    }

    .section__title{
        font-size: 50px;
    }

    .section__motivation{
        font-size: 15px;
        top: 35px;
    }

    .services__itemlist{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 50px;
    }

    .itemlist__title{
        padding-top: 20px;
    }

    .shortlist__potfolio {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .project__image {
        width: 250px;
    }

    .portfolio__items {
        margin: 30px 0;
    }

    .about__article{
        width: 80%;
    }

    .about__image{
        display: none;
    }

    .about__title, .about__text{
        line-height: 1.2
    }

    .about__title {
        font-size: 15px;
    }

    .about__text{
        font-size: 12px;
    }

    .hr{
        width: 200px !important;
    }

    .feel_free, .email{
        font-size: 19px;
    }

    .social_icons{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .social__icons__child{
        margin-top: 20px;
        margin-bottom: 20px;
    }
}